@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Общие стили */

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #85859B;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;

    color: #666666;
    font-weight: 400;
}

ul {
    list-style: none;

    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1160px;

    margin: auto;
    padding: 0 25px;
}

.logo {
    max-width: 140px;
    height: 23px;
}

.search, .log-in {
    max-width: 24px;
    max-height: 24px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 255px;
    height: 70px;

    color: #7875FE;
    border: 1px solid #7875FE;
}


@media (max-width: 768px) {
    .container {
        max-width: 740px;
    }
}


@media (max-width: 576px) {
    body {
        font-size: 16px;
    }

    .container {
        max-width: 560px;
    }

    .btn {
        width: 196px;
        height: 60px;
    }
}


@media (max-width: 360px) {
    .container {
        max-width: 320px;

        padding: 0 15px;
    }

    .logo--position {
        min-width: 100%;
        max-height: 23px;

        text-align: center;

        margin: 11px 0;
    }

    .btn {
        width: 144px;
        height: 50px;
    }
}