/* Шапка */

.header {
    padding: 30px 0;

    border-bottom: 1px solid #DDDDDD;
}

.header .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header__menu-wrapper {
    margin-left: auto;
}

.header__menu-toggle { display: none; }

.header__menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100;
}

.header__element {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    border-radius: 2px;
}

.header__nav {
    display: flex;
}

.header__list {
    display: flex;
    gap: 0px 60px;

    margin-right: 60px;
}

.header__item {
    color: #4C5866;
    font-size: 20px;
}

.header__search-log-in {
    display: flex;
    gap: 0px 30px;
}


@media (max-width: 768px) {
    .header {
        padding: 0;
    }

    .header::after {
        content: '';
        position: absolute;
        top: 45px;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #DDDDDD;
    }

    .header .logo { order: 1; }
    .header__search-log-in { 
        order: 2;

        padding: 11px 0;
    }

    .header__menu-wrapper {
        order: 3;

        width: 690px;

        margin: 20px 0;
    }

    .header__list {
        width: 100%;

        margin: 0;

        justify-content: space-between;
        gap: 0;
    }

    .header .container {
        justify-content: space-between;
    }
}


@media (max-width: 576px) {
    .header__menu-wrapper {
        margin: 18px 0;
    }
}


@media (max-width: 395px) {
    .header__menu-wrapper {
        order: 2;

        position: relative;
        max-width: 30px;

        display: inline-block;

        margin: 0;

        z-index: 1001;
    }

    .header__menu {
        position: relative;

        display: flex;

        z-index: 1001;
    }

    .header__menu-toggle:checked ~ .header__nav {
        transform: translateX(0);
        opacity: 1;
    }

    .header__nav {
        position: absolute;
        top: -16px;
        left: -52.5px;
        width: 395px;
        background-color: #f2f2f2;
        padding-top: 72px;
        padding-left: 30px;
        padding-bottom: 88px;
        transition: transform 0.3s ease, opacity 0.3s ease;
        transform: translateX(-150%);
        opacity: 0;
        z-index: 1000;
    }


    .header__list {
        flex-direction: column;
        gap: 50px;
    }

    .header__item {
        font-size: 18px;
    }

    .header__search-log-in {
        padding: 15px 0;
    }
}
