/* Тело — приветствие */

.welcome {}

.welcome .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome__text {
    width: 445px;
}

.welcome__title {
    color: #4C5866;
    font-size: 60px;
}

.welcome__desc {
    margin: 30px 0;

    line-height: 150%;
}

.welcome__image {
    width: 540px;
    height: 560px;

    object-fit: cover;
    object-position: top;

    margin-top: 60px;
}


@media (max-width: 768px) {
    .welcome__text {
        width: 390px;

        margin-right: 30px;
    }

    .welcome__title {
        font-size: 50px;
    }

    .welcome__image {
        width: 270px;
        height: 410px;
    }
}


@media (max-width: 576px) {
    .welcome__text {
        width: 287px;

        margin-right: 30px;
    }

    .welcome__title {
        font-size: 38px;
    }

    .welcome__desc {
        margin: 20px 0;
    }

    .welcome__image {
        width: 195px;
        height: 390px;

        margin-top: 20px;
    }
}


@media (max-width: 395px) {
    .welcome {
        padding: 50px 0;
    }

    .welcome__text {
        margin: 0;
    }

    .welcome__title {
        width: 222px;

        font-size: 30px;
    }

    .welcome__desc {
        margin-top: 15px;

        font-size: 14px;
    }

    .welcome__image {
        display: none;
    }
}

/* Тело — контент */

.content {
    padding: 90px 0;

    background-color: #EBEBEB;
}

.content .container {
    display: flex;
    flex-wrap: wrap;
}

.content__cards {
    display: flex;
    gap: 0px 30px;

    margin-bottom: 90px;
}

.content__card {
    display: flex;
    align-items: center;

    padding-top: 20px;
    border-top: 1px solid #C0C0C0;
}

.content__card-image {
    max-width: 160px;
}

.content__card-text {
    margin-left: 30px;

    max-width: 160px;
}

.content__card-title {
    font-weight: 500;
    line-height: 150%;
}

.content__card-desc {
    margin: 0;

    line-height: 150%;
}

.content__image {
    max-width: 730px;
}

.content__text {
    margin-top: 60px;
    margin-left: 30px;

    max-width: 350px;
}

.content__title {
    font-size: 40px;
}

.content__desc {
    margin-top: 15px;

    line-height: 170%;
}


@media (max-width: 768px) {
    .content {
        padding: 60px 0;
    }

    .content__cards {
        margin-bottom: 40px;
    }

    .content__card {
        flex-direction: column;
        align-items: start;

        width: 210px;
    }

    .content__card-text {
        margin: 0;
    }

    .content__image {
        max-width: 330px;
        max-height: 256px;
    }

    .content__text {
        max-width: 330px;

        margin-top: 0;
    }

    .content__title {
        font-size: 30px;
    }
}


@media (max-width: 576px) {
    .content__card {
        width: 150px;
    }

    .content__card-image {
        max-width: 150px;
    }

    .content__card-title {
        font-size: 16px;
    }
    
    .content__text {
        min-width: 510px;
    
        margin-top: 20px;
        margin-left: 0;
    }

    .content__title {
        font-size: 24px;
    }
}


@media (max-width: 395px) {
    .content__cards {
        flex-wrap: wrap;
        gap: 20px;
    }

    .content__card {
        flex-direction: row;
        align-items: center;
        gap: 30px;

        min-width: 100%;
        height: 116px;
    }

    .content__card-image {
        max-width: 130px;
    }

    .content__image {
        width: 290px;
        height: 223px;
    }

    .content__text {
        min-width: 290px;
    }
}

/* Тело — продукция */

.product {
    padding: 90px 0;
}

.product .container {
    display: flex;
    gap: 30px;
}

.product__card {
    width: 100%;
    max-width: 255px;
}

.product__image {
    object-fit: cover;
    object-position: center;

    width: 100%;
    height: 180px;

    margin-bottom: 15px;
}

.product__image--position-frame1 { object-position: -30px; }

.product__image--position-frame3 { object-position: -15px; }

.product__title {
    font-size: 30px;
}

.product__subtitle {
    margin: 8px 0;

    color: #B5B5BD;
    font-size: 14px;
}

.product__desc {
    line-height: 170%;
}

.product__btn {
    display: inline-flex;
    align-items: center;
    gap: 5px;

    margin-top: 20px;
}

.product__btn-text {
    color: #7875FE;
    font-size: 20px;
}

.product__btn-arrow {
    transition: transform 0.3s;
}

.product__btn:hover .product__btn-arrow {
    transform: translateX(4px);
}


@media (max-width: 768px) {
    .product {
        padding: 60px 0;
    }

    .product .container {
        flex-wrap: wrap;
        gap: 60px 30px;
    }

    .product__card {
        width: 100%;
        max-width: 330px;
    }

    .product__image--position-frame1 { object-position: 0px; }

    .product__image--position-frame3 { object-position: 0px; }
}


@media (max-width: 576px) {
    .product .container {
        flex-wrap: wrap;
        gap: 40px 30px;
    }

    .product__card {
        width: 240px;
    }

    .product__image--position-frame1 { object-position: -37px; }

    .product__image--position-frame3 { object-position: -10px; }
}


@media (max-width: 395px) {
    .product__card {
        width: 100%;
        max-width: 290px;
    }

    .product__image--position-frame1 { object-position: 0; }

    .product__image--position-frame3 { object-position: 0; }

    .product__image {
        object-position: center;
    }
}

/* Тело — партнёры */

.partner {
    padding: 90px 0;

    background-color: #EBEBEB;
}

.partner .container {
    display: flex;
    gap: 30px;
}

.partner__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 255px;
    height: 135px;

    border: 1px solid #C4C4C4;
}

.partner__image {
    max-width: 80%;
}


@media (max-width: 768px) {
    .partner {
        padding: 60px 0;
    }

    .partner__logo {
        width: 150px;
        height: 80px;
    }
}


@media (max-width: 576px) {
    .partner .container {
        flex-wrap: wrap;
    }
    
    .partner__logo {
        width: 240px;
        height: 127px;
    }
}


@media (max-width: 395px) {
    .partner {
        overflow-x: auto;
    }

    .partner .container {
        flex-wrap: nowrap;

        min-width: max-content;
    }

    .partner__logo {
        width: 150px;
        height: 80px;
    }
}

/* Тело — промо */

.promo {
    padding-top: 90px;
}

.promo .container {
    display: flex;
    gap: 30px;
}

.promo__text {
    width: 100%;
    max-width: 350px;

    padding-top: 24px;
}

.promo__title {
    margin-bottom: 8px;

    font-size: 40px;
}

.promo__desc {
    margin-bottom: 30px;

    line-height: 170%;
}

.promo__image {
    width: 730px;
    height: 410px;

    object-fit: cover;
    object-position: top;
}


@media (max-width: 768px) {
    .promo {
        padding-top: 60px;
    }

    .promo__title {
        margin-bottom: 20px;

        font-size: 30px;
    }

    .promo__text {
        min-width: 330px;

        padding-top: 0;
    }

    .promo__image {
        width: 370px;
        height: 335px;

        object-position: left;
    }
}


@media (max-width: 576px) {
    .promo {
        padding: 60px 0;
    }

    .promo .container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .promo__image {
        order: 1;
        
        width: 449px;
        height: 342px;
    }

    .promo__text {
        order: 2; 

        width: 100%;
        max-width: 510px;
        min-width: 0;
    }

    .promo__title {
        font-size: 24px;
    }
}


@media (max-width: 395px) {
    .promo__image {
        width: 290px;
        height: 221px;
    }

    .promo__text {
        width: 100%;
        max-width: 290px;
    }
}
