/* Подвал */

.footer {
    padding: 60px 0;

    border-top: 1px solid #F1F1F1;;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__elements {
    margin-right: 50px;
}

.footer__title {
    font-size: 24px;
    line-height: 30px;

    margin-bottom: 33px;
}

.footer__search-wrapper {
    display: flex;
}

.footer__input {
    width: 370px;
    height: 40px;

    border: 1px solid #E2E1DF;
}

.footer__find {
    width: 120px;
    height: 40px;

    background-color: #000;
}

.footer__icons-wrapper {
    margin-top: 200px;
    margin-bottom: 195px;
}

.footer__icon {
    max-width: 90px;
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 16px;
}

.footer__list-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__list {
    padding-right: 55px;
}

.footer__item {
    color: #333;
    font-size: 15px;
    line-height: 20px;
}

.footer__item-title {
    font-size: 24px;
    line-height: 30px;
}

.footer__slogan {
    display: flex;
    justify-content: space-between;

    margin-top: 10px;

    width: 100%;
}

.footer__copyright {
    color: #333;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
}

.footer__copyright span {
    color: #E2B013;
}